@import "./variables.scss";

body {
  margin: 0;
  padding: 0;
}

.button {
  border: none;
  border-radius: 20px;
  padding: 12px 25px;
  background: linear-gradient(0.25turn, $color-orange, 35%, #fc9f59);
  color: $color-white;
  font-family: $font-second;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 12px #fc9f59;
  }

  &:focus {
    outline: none;
  }
}

.title {
  font-family: $font-base;
  font-weight: bold;
  color: $color-black;
  font-size: 40px;
  display: flex;
  justify-content: center;

  @include media-phone {
    font-size: 32px;
  }
}

.subtitle {
  font-family: $font-base;
  font-weight: bold;
  color: $color-black;
  font-size: 18px;
  letter-spacing: 0.5px;

  @include media-phone {
    font-size: 20px;
  }
}

.desc {
  color: $color-grey;
  font-family: $font-second;
  font-size: 18px;
  line-height: 1.5;

  @include media-phone {
    font-size: 16px;
  }
}

.main-container {
  @include media-phone {
    margin: 0 auto;
    width: $phone-container;
  }

  @include media-tablet {
    margin: 0 auto;
    width: $tablet-container;
  }

  @include media-desktop {
    margin: 0 auto;
    width: $desktop-container;
  }
}

.header-background {
  background: no-repeat url(../img/bg-header.png);
  background-size: 50% 79%;
  background-position: top right;

  @include media-phone {
    background: none;
  }

  @include media-tablet {
    background-size: 40% 79%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  position: relative;
  margin-bottom: 30px;
}

.logo {
  font-family: $font-base;
}

.hamburger-menu,
.hamburger-menu:before,
.hamburger-menu:after {
  width: 24px;
  height: 2px;
  background-color: #d8d8d8;
  display: block;
  position: absolute;
  right: 0;

  &:hover {
    cursor: pointer;
  }
}

.hamburger-menu:before {
  content: "";
  top: -6px;
}

.hamburger-menu:after {
  content: "";
  top: 6px;
}

.introduction {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: 90% / contain no-repeat url("../img/pic_header.png");
  height: 500px;

  @include media-phone {
    background: none;
    height: auto;
  }

  @include media-tablet {
    background: 117% / contain no-repeat url("../img/pic_header.png");
    height: 340px;
    margin-top: 30px;
  }

  &__pic-wrap {
    display: none;

    @include media-phone {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__pic-header {
    @include media-phone {
      width: 166%;
    }
  }

  &__title {
    font-family: $font-base;
    font-weight: bold;
    font-size: 64px;
    color: $color-black;
    line-height: 0.9;
    margin: 0;

    @include media-phone {
      font-size: 48px;
    }

    &_small {
      font-size: 48px;

      @include media-phone {
        font-size: 33px;
      }
    }

    &_orange {
      color: $color-orange;
    }

    &_black {
      color: $color-black;
    }
  }

  &__desc {
    width: 450px;

    @include media-phone {
      width: auto;
    }

    @include media-tablet {
      width: 290px;
    }
  }

  &__img {
    width: 676px;
  }

  &__btn-container {
    margin-top: 25px;

    @include media-phone {
      display: flex;
      flex-direction: column;
    }
  }

  &__btn-want {
    width: 200px;
    font-size: 15px;

    @include media-phone {
      width: 270px;
      margin-bottom: 20px;
    }

    @include media-tablet {
      width: 170px;
    }
  }

  &__btn-how-work {
    color: $color-orange;
    font-size: 15px;
    border: none;
    background: none;
    font-family: $font-second;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      color: #fc9f59;
    }
  }
}

.what-we-do {
  padding: 12% 0 15%;

  @include media-phone {
    padding: 20px 0;
  }

  &__background {
    background: no-repeat url("../img/bg-block1.png");
    background-size: 100%;

    @include media-phone {
      background: top / cover no-repeat url(../img/bg-block1.png);
      background-size: 700%;
      background-position: 0 100%;
    }

    @include media-tablet {
      background: center / cover no-repeat url("../img/bg-block1.png");
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    @include media-phone {
      flex-direction: column;
    }

    @include media-tablet {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;

    @include media-phone {
      width: auto;
      height: auto;
    }

    @include media-tablet {
      width: 270px;
      height: 300px;
    }
  }

  &__title {
    @include media-tablet {
      margin-top: 60px;
    }
  }
}

.how-we-do {
  &__background {
    background: no-repeat url("../img/bg-block2.svg");
    background-size: 100%;
    background-position-y: 34%;

    @include media-phone {
      background: no-repeat url(../img/bg-block2.svg);
      background-size: 360%;
      background-position: 2px 0;
    }

    @include media-tablet {
      background: center / contain no-repeat url("../img/bg-block2.svg");
    }
  }

  &__list {
    @include media-tablet {
      overflow: hidden;
    }
  }

  &__item-container {
    margin-bottom: 160px;

    @include media-phone {
      margin-bottom: 40px;
    }

    @include media-tablet {
      margin-bottom: 180px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    @include media-phone {
      position: none;
      flex-direction: column;
    }

    @include media-tablet {
      position: relative;
    }
  }

  &__text {
    @include media-phone {
      margin-top: 20px;
    }

    &_right {
      @include media-phone {
        width: auto;
        position: relative;
      }

      @include media-tablet {
        margin-left: auto;
        width: 336px;
      }
    }

    &_left {
      @include media-phone {
        width: auto;
        height: auto;
        margin-top: 150px;
      }

      @include media-tablet {
        margin-right: auto;
        width: 336px;
      }
    }
  }

  &__img {
    width: 510px;
    height: 250px;

    @include media-phone {
      width: 270px;
      height: auto;
    }

    &_left {
      margin-right: 40px;

      @include media-phone {
        position: initial;
      }

      @include media-tablet {
        position: absolute;
        top: 0;
        right: 50%;
        margin-right: 0;
      }
    }

    &_right {
      margin-left: 40px;

      @include media-phone {
        position: absolute;
        margin: 0;
      }

      @include media-tablet {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: 0;
      }
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-tablet {
      justify-content: flex-end;
    }
  }

  &__click {
    display: flex;
    align-items: center;

    &_top {
      @include media-phone {
        display: none;
      }
    }

    &_bottom {
      display: none;

      @include media-phone {
        display: block;
        position: relative;
      }
    }
  }

  &__click-img {
    @include media-phone {
      position: absolute;
      right: -5px;
      bottom: 39px;
      z-index: -1;
    }
  }

  &__click-text {
    width: 205px;
    margin-left: 20px;

    @include media-phone {
      font-size: 24px;
      width: auto;
      margin: 40px 0 0;
      z-index: 1;
    }

    &_orange {
      color: $color-orange;
    }

    &_black {
      color: $color-black;
    }
  }
}

.container-footer {
  @include media-phone {
    margin: 0 auto;
    width: 100%;
  }

  @include media-tablet {
    margin: 0;
    width: 100%;
  }

  @include media-desktop {
    margin: 0 auto;
    width: $desktop-container;
  }
}

.form-request {
  @include media-phone {
    width: 272px;
  }

  @include media-tablet {
    width: 70%;
  }

  &__wrap {
    padding: 30px;
    background-color: $color-bg;
    position: relative;
    margin-bottom: 100px;

    @include media-phone {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }

    @include media-tablet {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 28px;

    @include media-phone {
      font-size: 26px;
      margin: 0 0 10px;
    }
  }

  &__img {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 367px;

    @include media-phone {
      position: initial;
      width: 270px;
      margin-top: 20px;
    }

    @include media-tablet {
      left: 70%;
    }
  }

  &__desc {
    margin: 0;
  }

  &__btn-container {
    margin-top: 30px;
  }

  &__input {
    padding: 7px 20px;
    border: none;
    border-radius: 20px;
    margin-right: 5px;
    width: 250px;
    position: relative;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }

    @include media-phone {
      margin: 0 0 10px;
      width: 100%;
      box-sizing: border-box;
    }
  }

  &__button {
    &:disabled {
      box-shadow: none;
      cursor: auto;
      opacity: 0.75;
    }

    @include media-phone {
      width: 100%;
    }
  }

  &__button-done-wrap {
    display: none;

    @include media-phone {
      width: 100%;
    }
  }

  &__button-done {
    display: flex;
    color: $color-orange;
    background: $color-white;
    width: 130px;

    @include media-phone {
      width: 100%;
      justify-content: center;
    }

    &:hover {
      box-shadow: none;
      cursor: auto;
    }
  }

  &__button-done-icon {
    margin-right: 10px;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.7s all;
}

.modal {
  display: none;
  width: 330px;
  height: 290px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  text-align: center;
  padding: 50px 30px;
  border-radius: 30px;
  background-color: #fff;
  transition: 0.7s all;

  @include media-phone {
    width: 100%;
    border-radius: 0;
  }

  &__btn-close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;

    @include media-phone {
      right: 50px;
    }
  }

  &__content {
    @include media-phone {
      padding: 0 20px;
    }
  }

  &__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__img {
    width: 130px;
  }

  &__title {
    font-family: $font-base;
    font-size: 18px;
    color: $color-black;
  }

  &__description {
    font-family: $font-second;
    font-size: 14px;
    line-height: 1.7;
    color: $color-grey;
  }
}
