@font-face {
  font-family: "Gotham Pro Black";
  src: url("GothamPro-Black.eot");
  src: url("GothamPro-Black.eot?#iefix") format("embedded-opentype"),
    url("GothamPro-Black.woff") format("woff"),
    url("GothamPro-Black.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

$font-base: "Gotham Pro Black", sans-serif;
$font-second: "Open Sans", sans-serif;

$color-orange: #de6341;
$color-grey: #807d8d;
$color-black: #1e142e;
$color-white: #ffffff;
$color-bg: #f6f4f8;

// ===========================================
// Breakpoints
// ===========================================

$screen-desktop: 1100px;
$screen-tablet: 720px;

$desktop-container: 1020px;
$tablet-container: 695px;
$phone-container: 270px;

@mixin media-phone {
  @media screen and (max-width: ($screen-tablet - 1px)) {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (min-width: $screen-tablet) and (max-width: ($screen-desktop - 1px)) {
    @content;
  }
}

@mixin media-desktop {
  @media screen and (min-width: $screen-desktop) {
    @content;
  }
}
